.body{
  background:#eaeaea;
  margin:0;
  padding:0;
  overflow-y:scroll;
  overflow-x:hidden;
}
.carousel-indicators .active{
    background-color: #ffc107 !important;
  }
/* .bg {
  background-image: url('/assets/img/BG1.svg');
  width:100%;
} */
.crd{
overflow-y:scroll;
max-height: 180px;    
}
.crd::-webkit-scrollbar
{
	width: 12px;
	background-color: white;
}

.crd::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: white;
}
input[type="radio"]:checked {
    background-color: #f7af03;
  }
  .bg-tr{
    background:transparent;
  }
.modal-header {
  position:relative;
  z-index:99999;
  background: transparent;
  float: right;
}
.modal-content {
    z-index: 1100 !important;
}
.modal-dialog {
    position: absolute;
    top: 260px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    /* border-radius:10px; */
    /* overflow-y: auto; */
  }
.session1 {
  position: relative;
  overflow-y: scroll !important;
  width:180%;
  max-width:180%;
  height: auto;
}
.session1 img{
  width:100%;
  height:auto;
}
.session1::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

.session1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: transparent;
}
.alpha {
  /* color:white; */
  -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #12349e;
  font-size: 16px;
}
.session2 {
  position: relative;
  overflow-y: scroll !important;
  width:120%;
  max-width:120%;
  height: auto;
}
.session2 img{
  width:100%;
  height:auto;
}
.session2::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

.session2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: transparent;
}
.session3 {
  position: relative;
  overflow-y: scroll !important;
  width:120%;
  max-width:120%;
  height: auto;
}
.session3 img{
  margin-left:-150px;
  margin-top:-150px;
  width:100%;
  height:auto;
}
.session3::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

.session3::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: transparent;
}
.custom {
  position: relative;
  marginTop: -150px;
  float: right;
}
.subtitle{
  font-size:12px;
}
.circle-orange{
  border-radius: 50px;
  background: #ffc107;
  width: 18px;
  height: 18px;
}
.circle-gray{
  border-radius: 50px;
  background: #eaeaea;
  width: 18px;
  height: 18px;
}
.crd2::-webkit-scrollbar
{
	width: 2px;
	background-color: transparent;
}

.crd2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: transparent;
}